body{
    background-color: black;
    color:white;
}

#gameArea{
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    align-items: center;     /* center items horizontally, in this case */
}

#ticTacToeBoard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.ticTacToeBoardSquare {
    border: 1px solid;
    padding: 20px;
    /* align-content: center;
    justify-content: center; */
    text-align: center;
}

#scoreboard {
    display:grid;
    grid-template-columns: repeat(2, 200px);
    font-size:3em;
}
